ALLOWED_IP=84.54.73.64
REDIS_HOSTS=mono:deki-mono-redis-1:6379,live:deki-live-redis:6379
EXTERNAL_NETWORK=deki-mono_default
LISTEN_PORT=80

# Grafana credentials
GRAFANA_USER=admin
GRAFANA_PASSWORD=admin
